body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

@font-face {
	font-family: 'pepgzz';
	src:url('../fonts/pepgzz.eot?b24q7q');
	src:url('../fonts/pepgzz.eot?#iefixb24q7q') format('embedded-opentype'),
		url('../fonts/pepgzz.ttf?b24q7q') format('truetype'),
		url('../fonts/pepgzz.woff?b24q7q') format('woff'),
		url('../fonts/pepgzz.svg?b24q7q#pepgzz') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'pepgzz';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e976";
	font-size: 1.4rem;
	padding: 0 0.2rem;
}
.icon-job:before {
	content: "\e9ae";
	font-size: 1.4rem;
	padding: 0 0.2rem;
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-fb:before {
	content: "\ea8d";
}
.icon-tw:before {
	content: "\ea91";
}
.icon-yt:before {
	content: "\ea99";
}
.icon-gh:before {
	content: "\eab4";
}
.icon-bl:before {
	content: "\eaba";
}
.icon-study:before {
	content: "\e600";
}


/*--------------------------------------------------------------------*/

.nav{
	background-color: black;
}
	.nav__mobile{
		display: none;
	}
		.nav__mobile__label{
			display: none;
			margin: 0.5em;
			background-color: black;
			color: white;
		}

	.nav__list{
		list-style: none;
		margin: 0px;
		padding: 0px;
		text-align: center;
		vertical-align: middle;
		font-size: 0px;
	}
		.nav__list__item{
			font-size: 1rem;
			width: 8rem;
			display: inline-block;
			margin: 0px;
		}
			.nav__list__item a{
				color: white;
				text-decoration: none;
				display: block;
				text-align: center;
				padding: 0.5rem 0px;
				animation: linkAnimationRollback 0.4s;
				border-bottom: solid black 2px;
			}
			.nav__list__item a:hover{
				 animation: linkAnimation 0.4s;
				 background-color: gray;
				 border-bottom: solid white 2px;
			}

@media all and (max-width: 515px){
	.nav__mobile:checked ~ .nav__list{
		display: block;
	}
	.nav__mobile__label{
		display: inline-block;
	}
	.nav__list{
		display: none;
	}
}


@keyframes linkAnimation {
    0% { background-color: black; border-bottom-color: black; }
    100% { background-color: gray; border-bottom-color: white; }
}
@keyframes linkAnimationRollback {
    0% { background-color: gray; border-bottom-color: white; }
    100% { background-color: black; border-bottom-color: black; }
}


/*--------------------------------------------------------------------*/

.header{
	font-size: 0px;
	margin: 0 auto;
	padding: 1rem;
	background-image: url("../img/banner.jpg");
	background-size: cover;
	background-position: center;
}
	.header__container{
		max-width: 1100px;
		margin:0 auto;
		text-align: center;
		margin-top: 40px;
	}
		.header__container__avatar{
			display: inline-block;
			width: 100px;
			height: 100px;
			vertical-align: bottom;
			margin: 0px;
			border: solid black 2px;
		}
			.header__container__avatar img{
				margin: 0px;
				width: 100%;
				height: 100%;
			}

		.header__container__wrapper{
			display: inline-block;
			height: 100px;
			margin-left: 1rem;g
		}
			.container__wrapper__name{
				font-size: 2rem;
				margin: 0px;
				color: white;
				text-decoration: underline;
			}
			.container__wrapper__description{
				font-size: 1.3rem;
				margin: 0px;
				color: white;
			}
	.header__social{
		font-size: 1.6rem;
		list-style: none;
		max-width: 1100px;
		text-align: center;
		margin: 0 auto;
		padding: 0px;
		margin-top: 40px;
	}
		.header__social li{
			display: inline-block;
			margin: 0px;
		}
		.header__social li a{
			color: white;
			text-decoration: none;
		}

@media all and (max-width: 635px){
	.header__avatar{
		display: block;
		margin: 0.5rem auto;
	}
	.header__container{
		display: block;
		margin: 0 auto;
		margin-left: 0px;
		height: auto;
	}
		.container__name{
			font-size: 0.8rem;
			text-align: center;
		}
		.container__description{
			font-size: 0.7rem;
			text-align: center;
		}
}


/*--------------------------------------------------------------------*/

.main{
	max-width: 1100px;
	margin: 0 auto;
}
	.section__container{
		padding: 0 10% 2em 10%;
		border-bottom: solid lightgray 1px;
	}
		.container__title{
			padding-top: 1rem;
			font-size: 1.8rem;
			margin: 0px 0px 0.5rem 0px;
			color: rgb(40,42,68);
			text-decoration: underline;
		}
		.container__content{
		}

		.container__list{
			list-style: none;
			padding: 0px;
		}
		.container__list__item{
		}


/*--------------------------------------------------------------------*/

.job__card{
}
	.job__card__title{
		font-size: 1.3rem;
		display: inline-block;
		margin: 0;
		color: rgb(40,42,68);
	}
	.job__card__client{
		font-size: 1.1rem;
		display: inline-block;
		margin: 0;
		font-weight: bold;
	}
	.job__card__description{
		padding: 0.5rem;
		margin: 0px;
	}
	.job__card__list{
		list-style: none;
		padding-left: 1.5rem;
	}
	.job__range{
		font-size: 0.9rem;
		display: inline-block;
		margin-left: 0.2rem;
		font-weight: 200;
	}

.link{
	color: rgb(40,42,68);
	font-style: italic;
}





























